{% extends 'home.html' %}

{%block content %}
<section class="form-register">
    <b style="color: red;">{{error}}</b>
    <h4>Formulario de Registro</h4>
    {% csrf_token %}
    <form  method="POST">
        <input class="controls" type="text" name="first_name" id="nombres"  autocomplete="off" required placeholder="Ingrese su nombre" title="Nombre" pattern="[A-Za-zàáâäãéèêëíìîïóòôöúùûüñÑ]+">
        <input class="controls" type="text" name="last_name" id="apellidos"  autocomplete="off" required placeholder="Ingrese susapellidos" title="Apellidos" pattern="[A-Za-zàáâäãéèêëíìîïóòôöúùûüñÑ]+">
        <input class="controls" type="email" name="email" id="correos"   autocomplete="off" required placeholder="Ingrese su correo" title="Email">
        <input class="controls" type="text" name="username" id="usuarios"  autocomplete="off"  required placeholder="Ingrese su usuario" title="Usuario">
        <input class="controls" type="password" name="password1"   autocomplete="off" id="contraseña1"required placeholder="Ingrese su contraseña" title="Contraseña">
        <input class="controls" type="password" name="password2"   autocomplete="off"id="contraseña2"required placeholder="Ingrese su contraseña nuevamente" title="Contraseña">
        <!-- <p>Estoy de acuerdo con <a href="#">Terminos y condiciones</a></p> <input class="bottons" type="checkbox" required> -->
        <input class="bottons" type="submit" value="Registrar">
        <p><a href="{% url 'login'%}">Ya tengo cuenta</a></p>
    </form>
</section> 
{% endblock %}
